.project-box {
  height: 500px;
  width: 600px;
  border: 1px solid black;
}
.project-image {
  height: 250px;
  width: 600px;
}
.project {
  height: 100px;
  width: 500px;
  border: 2px solid green;
  margin-left: 50px;
  margin-top: 20px;
  text-align: center;
}
.span {
  color: blueviolet;
  font-weight: bold;
}
.button {
  background-color: rgb(27, 86, 146);
  border: none;
  color: #ffffff;
  border-radius: 4px;
  padding: 3px;
  width: 100px;
}
