.contact-box {
  height: 400px;
  width: 700px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-box {
  height: 50px;
  width: 500px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.para-2 {
  margin-top: 10px;
  font-weight: bold;
}
.profile-image {
  height: 150px;
  width: 150px;
}
